@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
 /* change the values below to your colors from your palette */
 --primary-color: #FFC252;
 --secondary-color: #3B5564;
 --accent1-color: #57DCF2;
 --accent2-color: #CBCACD;
 /* AND WHITE!!!! */

 /* change the values below to your chosen font(s) */
 --heading-font: 'Roboto Slab', Garamond, serif;
 --paragraph-font: Tahoma, sans-serif;

 /* these colors below should be chosen from among your palette colors above */
 --headline-color-on-white: #3B5564;
 /* headlines on a white background */
 --headline-color-on-color: white;
 /* headlines on a colored background */
 --paragraph-color-on-white: #3B5564;
 /* paragraph text on a white background */
 --paragraph-color-on-color: #FFC252;
 /* paragraph text on a colored background */
 --paragraph-background-color: #3B5564;
 --nav-link-color: #3B5564;
 --nav-background-color: #FFC252;
 --nav-hover-link-color: black;
 --nav-hover-background-color: #57DCF2;

/*CSS FOR THE NAV BAR AND HEADER*/
}
#logo_link {
 padding-top: 5px;
 justify-self: center;
 align-self: center;
}
.logo {
 width: 100px;
}

nav a {
 text-align: center;
 color: var(--primary-color);
 font-size: 1.3em;
 text-decoration: none;
 align-self: center;
 padding: 15px;
 font-family: var(--paragraph-font);
}

nav {
 display: flex;
 justify-content: space-around;
 

}
nav a:hover {
 background-color: var(--nav-hover-background-color);
 color: var(--nav-hover-link-color);
}
header{
 background-color: var(--secondary-color);
 display: grid;
 grid-template-columns: 150px auto;
 margin-bottom: 30px;
}


/*BANNER BOX*/
.banner-box{
 text-align: center;
 color: var(--primary-color);
 background-color: var(--secondary-color);
 width: 75%;
 height: 11em;
 margin: auto;  /*this centers the div horizontally on the screen*/
 border-top: 1px solid var(--secondary-color);
 margin-bottom: 30px;
 }
 .banner-box h1{
  font-size: 3em;
  font-family: var(--heading-font);
 }
 .banner-box h5{
  font-size: 1.1em;
  font-family: var(--paragraph-font);
 }

  /*SLIDE SHOW CSS for the HOME SCREEN, Style the next and previous buttons,
 the caption text and the dots:*/
  /* Slideshow container*/
  * {
   box-sizing: border-box
  }
 
  .image-home {
   width: 100%;
  }
 
  .slideshow-container {
   max-width: 75%;
   position: relative;
   margin: auto;
   border: 15px solid var(--accent1-color);
  }
 
  /* Hide the images by default */
  .mySlides {
   display: none;
  }
 
  /* Next & previous buttons */
  .prev,
  .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: var(--accent1-color);
   font-weight: bold;
   font-size: 25px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
  }
 
  /* Position the "next button" to the right */
  .next {
   right: 0;
   border-radius: 3px 0 0 3px;
  }
 
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
   background-color: var(--secondary-color);
  }
 
  /* Caption text */
  .text-slideshow { 
   font-size: 2em;
   padding: 8px 12px;
   position: absolute;
   margin-bottom: 15px;
   bottom: 8px;
   width: 100%;
   text-align: center;
   font-family: var(--paragraph-font);
  }
 
  .slide1text {
   color: var(--primary-color);
  }
 
  .slide2text {
   color: black;
  }
 
  /* Number text (1/3 etc) */
  .numbertext {
   color: var(--accent1-color);
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
   font-family: var(--paragraph-font);
   font-weight: bold;
  }
 
  /*where the photos on the home screen came from:*/
  .sourcetext {
   text-align: center;
   font-family: var(--paragraph-font);
  }
 
  .sourcetext a {
   text-decoration: none;
  }
 
  /* The dots/bullets/indicators */
  .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
  }
 
  .active,
  .dot:hover {
   background-color: #717171;
  }
 
  /* Fading animation */
  .fade {
   animation-name: fade;
   animation-duration: 1.5s;
  }
 
  @keyframes fade {
   from {
    opacity: .4
   }
 
   to {
    opacity: 1
   }
  }

 /*MAIN GRID AREA - HOME PAGE*/
 .main-grid-home{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 12.5% 1fr 1fr 12.5%;
 }
 .welcome-box {
  grid-column: 2/3;
  padding: 40px;
  background-color: var(--accent2-color); 
  border: 15px solid var(--secondary-color);
 }
 .welcome-box h3, .choose-major-box h3{
  font-family: var(--heading-font);
  color: var(--secondary-color);
  font-size: 2em;
 }
 .welcome-box p{
  font-family: var(--paragraph-font);
  font-size: 1.3em;
 }
 .choose-major-box{
  grid-column: 3/4;
  padding: 40px;
  text-align: center;
  background-color: var(--accent2-color);
  border: 15px solid var(--secondary-color);
 }
 .welcome-title{
  text-align: center;
 }
  /*a list of the majors on the homescreen, instead of the dropdown which was coded below*/
  .major-list {
   list-style-type: none;
   line-height: 210%;
   font-size: 1.2em;
   font-family: var(--paragraph-font);
  } 
  .major-list a {
   text-decoration: none;
   padding: 5px;
   color: var(--secondary-color);
   font-weight: bold;
  }
  .major-list a:hover{
   background-color: var(--secondary-color);
   color: var(--accent1-color);
  }
.contact-button-box{
 text-align: center;
 margin-top: 80px;
 font-family: var(--paragraph-font);
 color: var(--secondary-color);
}

.contact-button-box h3{
 font-size: 2.2em;
}
.contact-button-box h4{
 font-size: 1.5em;
}
.contactus-button{
 width: 156px;
 font-size: 1.5em;
 background-color: var(--accent1-color);
 color: var(--secondary-color);
 padding: 7px;
 border-radius: 12px;
 border: 1px solid var(--secondary-color);
 margin: auto;

}
.contactus-button a{
 text-decoration: none;
 color: var(--secondary-color);
}
.contactus-button:hover{
 background-color: var(--secondary-color);
}

.contactus-button a:hover{
 color: var(--primary-color);
}



/*FOOTER*/
footer {
 background-color: var(--secondary-color);
 padding: 25px 50px;
 margin-top: 100px;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

footer .social img {
 padding-top: 15px;
}
footer a {
 color: var(--primary-color);
 text-decoration: none;
 font-size: 1.3em;
 padding: 15px;
}

footer a:hover {
 background-color: var(--accent1-color);
 color: black;

}
.copyright{
 color: var(--accent1-color)
}




/*CSS for the DROPDOWN on the Home page*/
/* .dropbtn {
 background-color: #3498DB;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
 background-color: #2980B9;
}

.dropdown {
 position: relative;
 display: inline-block;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 overflow: auto;
 box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 z-index: 1;
}

.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown a:hover {
 background-color: #ddd;
}

.show {
 display: block;
} */


/*the following is for mobile devices and smaller screen (in other words responsive design):*/

@media screen and (max-width: 900px) {
 nav, footer{
  flex-direction: column;
 }
 .banner-box h1{
  font-size: 1.5em;
 }
 .banner-box h5{
  font-size: .8em;
 }
 .text-slideshow, .sourcetext, .numbertext{
  font-size: .8em;
 }
 .main-grid-home{
  display: block;
  height: auto;
 }
 .welcome-box, .choose-major-box{
  font-size: .8em;
  
 }
 .contact-button-box{
  font-size: .8em;
 }

 
}