/*the following helps you to see the containers that the elements are in: */
/* *{
    border: 2px solid blue;    
} */


body {
     /* text-align: center; aligns the entire body to the center of the page  */
    margin: 0;
}

a {
    color: white;  /* font-color */
    margin: 40px; /*space between a elements, the nav bar has a bunch*/
    font-size: 1.5em;
    padding: 25px;
}
h1 {
    color: steelblue; /* the header now has the font-color steel blue */
    text-align: center;
    margin: 50px 0;  /*50px is the top and bottom, 0 is left and right*/
}

img {
    width: 80%;  
    border: 4px solid steelblue;
    display: block;
    margin: 0 auto;
}

p {
    padding: 10px;
    width: 80%;
}


.main-para{
    font-size: 1.5em;
    line-height: 1.5em;
}
#active{
    background-color: white;
    color: steelblue;
}
nav, footer{
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 25px;  /*padding puts space around the elements*/
}
main p{
    width: 80%; 
    margin: 50px auto; /*this centers the "box" that the paragraph in main is in, with 50px border on top and bottom and auto centering left-right. */
    text-align: center;  /*align that text in the box*/
}
footer p{
    font-size: 20px;
    padding: 25px;
    margin: 20px auto;
}
a:hover{
    background-color: white;
    color: steelblue;
}